@model IEnumerable<PruebaIntegraMedia.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.First_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
                <a asp-action="Print" asp-route-id="@item.ID" target="_blank">Imprimir Factura</a>
            </td>
        </tr>
}
    </tbody>
</table>
