@model IEnumerable<PruebaIntegraMedia.Models.OrderDetail>

@{
    Layout = "";

}

<h4>Detalle Pedido</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Monto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{double Total = 0;}

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $ @(item.Price*item.Quantity)
                </td>
                <td>
                    <a asp-action="OrderDetailDelete" asp-route-OrderDetailId="@item.Id" asp-route-OrderId="@item.OrderId"> Quitar</a>
                </td>
            </tr>
            Total = Total + (item.Price * item.Quantity);
        }
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <strong>Total</strong>
            </td>
            <td>
                $ @(Total)
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
